/* Réinitialisation des éléments */
* {
  margin: 0; /* Suppression des marges par défaut */
  padding: 0; /* Suppression des espacements internes par défaut */
  box-sizing: border-box; /* Inclusion de la bordure et du padding dans la taille totale */
}

/* Style global */
body, html {
  font-family: 'Montserrat', sans-serif; /* Police du texte */
  font-size: 22px; /* Taille du texte */
  text-align: justify; /* Alignement du texte */
  height: 100%; /* Permet aux sections pleine hauteur de s'afficher correctement */
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-size: 48px;
  color: #fff; /* Couleur du texte */
  margin-bottom: 10px; /* Espace dessous */
  letter-spacing: 2px; /* Espace entre les lettres */
}

h2 {
  font-size: 36px;
  color: #af885f;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

h3 {
  font-size: 28px;
  color: #af885f;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

p {
  font-size: 22px;
  color: #111;
  margin-bottom: 10px;
}

a {
  font-size: 18px;
  color: #af885f;
  margin-bottom: 10px;
}

/* Barre de navigation */
.navbar {
  background-color: #111; /* Couleur du fond */
  height: 60px; /* Hauteur de la barre */
  position: sticky; /* Collée en haut lors du scroll */
  top: 0; /* Position haute */
  z-index: 1000; /* Toujours au-dessus */
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  gap: 60px; /* Espace entre les liens */
}

.navbar a {
  text-decoration: none; /* Pas de soulignement */
  color: #fff;
  font-weight: bold; /* Texte en gras */
  font-size: 28px;
  position: relative;
  transition: color 0.3s; /* Animation */
}

.navbar a:hover {
  color: #af885f; /* Couleur au survol */
}

.navbar a:not(:last-child)::after {
  content: "|";
  color: #af885f;
  margin: 0 30px; /* espace à gauche ET à droite */
}

/* Bannière */
.banner {
  background: url('images/salon.png') center center/cover no-repeat; /* Image de fond centrée et couvrant toute la section */
  height: 66vh; /* Hauteur par rapport à l'écran */
  position: relative; /* Sert de référence pour un positionnement interne */
}

.banner-black-filter {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%; /* Prend toute la hauteur de la bannière */
  display: flex; /* L'élément devient un conteneur flex */
  flex-direction: column; /* Empile le contenu verticalement */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  text-align: center; /* Centre le texte */
}

.banner-logo {
  width: 250px; /* Largeur */
  height: auto; /* Garde les proportions */
  margin-bottom: 25px; /* Espace sous le logo */
}

.banner-subtitle {
  font-size: 28px;
  color: #af885f;
  font-weight: bold;
  margin-bottom: 25px; 
}

.banner-btn {
  background-color: #fff;
  font-size: 18px;
  color: #b41220;
  font-weight: bold;
  padding: 15px; /* Taille du bouton */
  border-radius: 5px; /* Arrondissement des coins */
  border: 2px solid #b41220; /* Couleur de la bordure */
  transition: 0.3s; /* Animation fluide */
  text-decoration: none; /* Suppression des liens en surbrillance */
}

.banner-btn:hover {
  background-color: #b41220;
  color: #fff;
}

/* Section "logo + texte" */
.split-section {
  background-color: #fff;
  display: flex;
  min-height: 400px; /* Hauteur minimale */
}

.split-logo {
  width: 40%; /* Pourcentage de la largeur de l'élément parent */
  display: flex;
  align-items: center; /* Centre verticalement le contenu (logo) dans la hauteur disponible */
  justify-content: flex-end; /* Aligne le contenu vers la droite */
  padding: 30px; /* Ajoute un espace intérieur */
}

.split-logo img {
  max-width: 250px; /* Taille maximale de l'image */
  height: auto;
  display: block; /* Suppression de l'espace sous l'image */
}

.split-text {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  max-width: 600px; /* Hauteur maximale */
}

.split-text p {
  line-height: 1.6; /* Ajoute de l’espace entre les lignes pour rendre le texte plus lisible */
}

/* Section "services" */
.services {
  background-color: #111;
  display: flex;
  flex-wrap: wrap; /* Retour à la ligne si besoin */
  justify-content: center;
  padding: 30px;
  gap: 20px;
}

.services-title {
  width: 100%;
  text-align: center;
}

.services-cards {
  background-color: #111;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Cache ce qui dépasse */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Ombre */
}

.services-cards img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Recadre pour remplir sans déformation */
  display: block; /* Supprime l’espace blanc sous l’image */
}

.services-cards-titles {
  background-color: #fff;
  background-size: cover;
  padding: 15px;
  text-align: center;
}

.services-cards-buttons {
  background-color: #fff;
  color: #b41220;
  display: inline-block;
  padding: 10px; /* Taille du bouton */
  border-radius: 5px; /* Coins arrondis */
  border: 2px solid #b41220; /* Couleur de la bordure */
  transition: 0.3s;
  text-decoration: none;
}

.services-cards-buttons:hover {
  background-color: #b41220;
  color: #fff;
  border-color: #b41220; /* Couleur de la bordure */
}

/* Footer */
.footer {
  background-color: #fff;  
  position: relative;
}

.footer-grid {
  color: #111;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: grid; /* Grille */
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.footer-title {
  margin: 0 0 16px;
  letter-spacing: .5px;
  width: 100%;
  text-align: center;
}

.footer-hours,
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligne en haut */
}

.footer-hours ul {
  list-style: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
}

.footer-hours li {
  display: grid; /* Grille interne */
  grid-template-columns: 1fr auto; /* Jour à gauche, heure à droite */
  border-bottom: 1px solid rgba(230,211,160,.2); /* Ligne de séparation */
  padding: 5px 0;
  gap: 60px;
}

.footer-phone a,
.footer-email a {
  font-size: inherit; /* Hérite la taille du parent (<p>) */
  margin-bottom: inherit; /* Hérite l'espace dessous du parent (<p>) */
  text-decoration: none;
}

.footer-phone a:hover,
.footer-email a:hover {
  color: #b10f1e;
}

.footer-bottom {
  background-color: #111;
  text-align: center;
  padding: 15px;
}

.footer-bottom p {
  color: #af885f;
}
